@media (min-width: 771px) {
    .public-referral-page-image {
        float: left;
        width: 47%;
        padding-right: 10px;
    }
    .public-referral-page-instructions {
        float: left;
        width: 53%;
    }
}

@media (max-width: 770px) {
    .public-referral-page-image {
        padding-bottom: 10px;
    }
}