<?xml version="1.0"?>
<config>
    <modules>
        <Rewardstream_Referafriend>
            <version>0.1.0</version>
        </Rewardstream_Referafriend>
    </modules>
    <global>
        <resources>
            <rewardstream_setup>
                <setup>
                    <module>Rewardstream_Referafriend</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rewardstream_setup>
            <rewardstream_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rewardstream_write>
            <rewardstream_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rewardstream_read>
        </resources>
        <helpers>
            <rewardstream>
                <class>Rewardstream_Referafriend_Helper</class>
            </rewardstream>
        </helpers>
        <models>
            <rewardstream>
                <class>Rewardstream_Referafriend_Model</class>
                <resourceModel>rewardstream_resource</resourceModel>
            </rewardstream>
            <rewardstream_resource>
                <class>Rewardstream_Referafriend_Model_Resource</class>
                <deprecatedNode>rewardstream_mysql4</deprecatedNode>
                <entities>
                    <rewardstream>
                        <table>rewardstream_entity</table>
                    </rewardstream>
                </entities>
            </rewardstream_resource>
        </models>
        <blocks>
            <rewardstream>
                <class>Rewardstream_Referafriend_Block</class>
            </rewardstream>

            <customer>
                <rewrite>
                    <account_navigation>Rewardstream_Referafriend_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <sales>
                <rewrite>
                    <order_recent>Rewardstream_Referafriend_Block_Sales_Order_Recent</order_recent>
                    <order_history>Rewardstream_Referafriend_Block_Sales_Order_History</order_history>
                </rewrite>
            </sales>

        </blocks>
        <rewrite>
            <Rewardstream_Referafriend>
                <from><![CDATA[#^/checkout/cart/couponPost#]]></from>
                <to>/rewardstream/cart/couponPost</to>
            </Rewardstream_Referafriend>
        </rewrite>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <rewardstream_options>
                                            <title>Refer a Friend Configuration</title>
                                        </rewardstream_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <rewardstream_observers>
                        <type>singleton</type>
                        <class>rewardstream/observer</class>
                        <method>salesOrderInvoicePayAfter</method>
                    </rewardstream_observers>
                </observers>
            </sales_order_invoice_pay>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <rewardstream>
                    <file>rewardstream.xml</file>
                </rewardstream>
            </updates>
        </layout>
        <routers>
            <rewardstream>
                <use>standard</use>
                <args>
                    <module>Rewardstream_Referafriend</module>
                    <frontName>rewardstream</frontName>
                </args>
            </rewardstream>
        </routers>
    </frontend>
    <default>
        <rewardstream_options>
            <section_one>
                <rewardstream_status>2</rewardstream_status>
            </section_one>
            <section_two>
                <rewardstream_menu_name>Refer A Friend</rewardstream_menu_name>
                <rewardstream_refer_title>Refer A Friend</rewardstream_refer_title>
            </section_two>
        </rewardstream_options>
    </default>
</config>