<?xml version="1.0"?>
<config>
    <tabs>
        <rewardstream translate="label" module="rewardstream">
            <label>RewardStream</label>
            <sort_order>300</sort_order>

        </rewardstream>
    </tabs>

    <sections>
        <rewardstream_options translate="label" module="rewardstream">
            <label>Refer a Friend</label>
            <tab>rewardstream</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <section_one translate="label">
                    <label>Setup</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>

                        <rewardstream_get_started>
                            <frontend_type>button</frontend_type>
                            <frontend_model>rewardstream/getstartedbutton</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Click here to get your program domain, API Key, and API Secret.</comment>
                        </rewardstream_get_started>

                        <rewardstream_status>
                            <label>Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>rewardstream/options</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Before enabling this plugin, be sure to configure and enable the CMS and Static Blocks generated by the extension.</comment>
                        </rewardstream_status>

                        <rewardstream_api_url>
                            <label>Program Domain</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Please enter your program domain here.</comment>
                        </rewardstream_api_url>

                        <rewardstream_api_key>
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Please enter your API key.</comment>
                        </rewardstream_api_key>

                        <rewardstream_secret_key>
                            <label>API Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Please enter your API secret.</comment>
                        </rewardstream_secret_key>

                    </fields>
                </section_one>

                <section_two translate="label">
                    <label>Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>

                        <rewardstream_menu_name>
                            <label>My Account Menu Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This is the menu title that appears in the My Account menu that links to the page where customers can send referrals.</comment>
                        </rewardstream_menu_name>

                        <rewardstream_refer_title>
                            <label>Refer A Friend Page Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This is the title that appears at the top of the page where customers send referrals.</comment>
                        </rewardstream_refer_title>

                        <rewardstream_first_purchase>
                            <label>Require Purchase</label>
                            <frontend_type>select</frontend_type>
                            <source_model>rewardstream/options</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If this is enabled, customers must make an approved purchase before they can send a referral. We recommend enabling this parameter to reduce the potential for fraud in your referral program.</comment>
                        </rewardstream_first_purchase>

                        <rewardstream_portal_launcher>
                            <frontend_type>button</frontend_type>
                            <frontend_model>rewardstream/button</frontend_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The Portal is an external administrative and support tool to help you manage and track your referral program. You will not be able to access your portal if you have not provided a Program Domain.</comment>
                        </rewardstream_portal_launcher>
                    </fields>
                </section_two>
            </groups>
        </rewardstream_options>
    </sections>
</config>
